
code/01-startups/data_work/\.ipynb_checkpoints/

style/images/Thumbs\.db

style/images/Thumbs\.db:encryptable

code/03-speedtest/data_work/\.ipynb_checkpoints/

code/01-startups/page/style/images/Thumbs\.db

code/01-startups/page/style/images/Thumbs\.db:encryptable
